    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    body {
        font-family: 'Montserrat';
        margin: 0;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 17px 0;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        width: 1200px;
    }
    
    a {
        color: #2F281E;
        text-decoration: none;
        font-size: 16px;
    }
    
    a:hover {
        color: #FF9900;
    }
    
    nav {
        display: flex;
        gap: 16px;
    }
    
    button {
        padding: 13px 23px;
        font-family: 'Montserrat';
        min-width: 110px;
        border-radius: 4px;
        font-size: 16px;
    }
    
    #sign_in {
        border: 1px solid #BCD0E5;
        background: transparent;
        font-weight: 600;
    }
    
    #sign_up {
        background: #FF9900;
        font-weight: 600;
        color: #ffffff;
        border: none;
    }
    
    .hero {
        display: flex;
        margin: 70px auto 0 auto;
        width: 1200px;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .orange_button {
        background-color: #FF9900;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        border: none;
        color: #ffffff;
    }
    
    #text {
        flex: 1;
    }
    
    .image {
        flex: 1;
        min-width: 644px;
    }
    
    .tools {
        flex-direction: column;
    }
    
    h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: #2F281E;
    }
    
    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #2F281E;
    }
    
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #544837;
    }
    
    .tools_description {
        display: flex;
        padding-top: 30px;
        padding-bottom: 70px;
        width: 1200px;
        margin: 0 auto;
        width: 1200px;
        justify-content: space-between;
        gap: 50px;
    }
    
    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
    }
    
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
    }
    
    .tools_button {
        background-image: url("img/bg.png");
        width: 100%;
        ;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 388px;
        width: 100%;
    }
    
    hr {
        border-color: rgba(188, 208, 229, 0.5);
        margin: 0;
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        margin: 70px auto 0 auto;
        width: 1200px;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    footer {
        margin: 70px auto;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    h4 {
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2F281E;
    }
    
    .footer_links li:not(:last-child) {
        margin-bottom: 15px;
    }
    
    .footer_links li {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #544837;
    }
    
    .signup_form {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    .signup_form button {
        max-width: 180px;
    }
    
    input {
        height: 50px;
        border: 1px solid #BCD0E5;
        border-radius: 4px;
    }
    
    input::placeholder {
        color: #BCD0E5;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding-left: 10px;
    }
    
    input:focus {
        outline: none;
    }